# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
MYENV/
venv/
.venv/

# Environment variables (TRÈS IMPORTANT)
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Qdrant
qdrant_storage/
storage/
*.db
*.sqlite3

# Generated / processed data
Data/processed/
Data/raw/

# Large source data
Data/raw/**/*.pdf
Data/raw/**/*.xml
Data/raw/**/*.jpg
Data/raw/**/*.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Evaluation results
Data/evaluation/results/

# Frontend / Node.js (Pour éviter les conflits à la racine)
.next/
node_modules/
package-lock.json