annotated-doc
annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
fastapi
filelock
fsspec
google-auth
google-genai
grpcio
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
mpmath
narwhals
networkx
numpy==2.2.4
packaging
pandas
pdfplumber
pillow
pymupdf
pypdf
pypdfium2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
typing-inspection
urllib3
uvicorn
uvloop
watchfiles
websockets
zstandard